{{ define "main" }}
  <article>
    <div class="container">
      <div class="row">
        <div class="post-container">
          <h1 class="page-title">Medical Applications with Digital Twins and Edge-cloud Continuum</h1>
          <div class="page-content">
            <p>
              Recent trends in computer science promoted new ways to think about software at
              both design time and run time.
              Next-generation intelligent pervasive systems will be modelled as digital twins
              that are counterparts of physical objects and executed in parallel.
              Moreover, combining the mirroring of the physical entities
              that allows for continuous observation of the real world and the corresponding
              update of the digital replica with computational intelligence enables
              individual devices to operate responsibly towards their goals.
              Specifically, with digital twins,
              their execution can become cumbersome and resource intensive.
              However, utilising a dynamic infrastructure,
              information processing can be enabled on the edge or the centre of the network,
              depending on the specific application goals and non-functional requirements.
            </p>
            <p>
              At the same time,
              medical applications are first in line to benefit from these new possibilities
              and one of the most challenging scenarios for emerging technologies,
              as they require extremely low fault probability,
              very high availability, great ergonomics, and stringent privacy and security mechanisms.
              In the medical field,
              they can support both development (building better products) and applications,
              improving the comfort of the patient and the precision of medical decisions and operations.
              The intelligence that can be embedded in the digital twin, or added at the application level,
              may indeed provide a real-time context awareness on top of which elaborate decision support.
              This is particularly useful for physicians in fast-critical scenarios, for instance,
              or for patients in home care, such as for the self-management of chronic diseases. 
            </p>
            <p>
              A set of specific issues arises once engineering and developing digital twins in this field.
              Since e-health relies on fast response,  high fidelity and accurate results,
              engineering and operating with digital twins in a time-critical manner
              within a safety-critical application requires novel techniques and methodologies.
              A trade-off between fast response and high fidelity arises,
              demanding a potential interaction across the edge-cloud continuum,
              which can support the reliable and efficient execution of modern medical applications. 
            </p>
            <p>
              <i>
                In <strong>MADTECC</strong> we call for experts to contribute
                to the advancements of medical applications of digital twins
                by providing original manuscripts describing novel research or experience reports.
                Moreover, we seek specific consideration of and approaches for
                the edge-cloud compute continuum in medical and e-health applications.
              </i>
            </p>
          </div>
        </div>
      </div>
  </article>
  <!-- {{ partial "portfolio.html" . }} -->
{{ end }}
